header {
  background-color: lightgray;
}
.info {
  background-color: blue;
  color: lightblue;
  text-align: center;
  font-size: 30px;
}
h3 {
  background-color: lightblue;
  text-align: center;
  font-size: 24px;
}
body {
  background-color: black;
}
.logo {
  width: 20%;
  float: left;
}
.car {
  width: 60%;
  margin: 0 auto;
}
.logo2 {
  width: 20%;
  float: right;
}
